<!doctype html>
<html>
	<head>
	<link rel="icon" href="data:;base64,=">
	<style>
	.leftbok{
		height: 40px;
		background: #c2c0c0;
	}
	.centerbok{
		height: 600px;
		background: #d6d4d4;
	}
	.otst{
		height: 5px;
	}
	body{
		background: #ccc;
	}
	.butt{
		float:left;
	}
	</style>
	<title>Главная страница</title>
	</head>
	<body>
		
		<div background='#ccc'>
		<form action={{url['url']}} method='post'>
			<div class='leftbok' align= 'justify'>
				<input type='submit' value='Выйти' name="subm1">
				<input type='submit' value='Диалоги' name="subm2">
			</div>
			<div class='otst' align= 'justify'></div>
			<div class='centerbok' align= 'justify'></div>
		</form>
		</div>
		
	</body>
</html>